{% extends 'layout.html' %} {% block content %} {% block title %}Pro page{% endblock %}
<!-- Pro page hero section  -->
<div class="proimg" data-aos="fade-right"><img src="static/Assets/images/Pro-page/pro.svg" alt="" height="600px" width="600px"></div>
<div class="pro-hero-text" data-aos="fade-left">
    <h1 style="font-size: 70px; color: #0A043C;">EXPLORE</h1>
    <h2 style="font-size: 40px;">The</h2>
    <h2 style="font-size: 50px;">Pro Membership</h2><br>
    <p>Home automation is now an experience everyone can <br> get their hands on, without blowing up their home budget. <br> We have modularized our plans to provide you maximum flexibility, <br> scalability and affordability</p>
</div>

<div class="container">
    <div class="plans">
        <h1>Plans</h1>
    </div>
    <div class="row row-cols-1 m-5">
        <div class="col">
            <div class="card card-3" data-aos="fade-up-right" style="width: 15rem; height: 5rem;">
                <div class="inner"> <img src="static/Assets/images/Pro-page/premium .png" class="card-img-top p-5" alt="..."></div>
                <div class="card-body">
                    <p class="card-text">TechAza premium pack | 3 month subscription |</p>
                    <p>₹499</p>
                    <a href="#" class="btn btn-primary">Buy now</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-3" data-aos="fade-up" style="width: 18rem;">
                <div class="inner"><img src="static/Assets/images/Pro-page/gold.png" class="card-img-top p-5" alt="..."></div>
                <div class="card-body">
                    <p class="card-text">TechAza gold pack | 10 month + 1 month subscription |</p>
                    <p>₹1599</p>
                    <a href="#" class="btn btn-primary">Buy now</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card card-3" data-aos="fade-up-left" style="width: 18rem;">
                <div class="inner"><img src="static/Assets/images/Pro-page/diamond.png" class="card-img-top p-5" alt="..."></div>
                <div class="card-body">
                    <p class="card-text">TechAza gold pack | 20 month subscription |</p>
                    <p>₹2599</p>
                    <a href="#" class="btn btn-primary">Buy now</a>
                </div>
            </div>
        </div>
    </div>

    <div class="benefits m-5">
        <h2 style="color: #0A043C; font-size: 40px; font-weight: 700;">BENEFITS OF SUBSCRIPTION</h2>
        <p><b>1. EARLY ACCESS TO NEW PRODUCTS AND SALES:</b> <br> All exclusive sales and products will be available to subscribers a day before other users. <br> <b>2.EXTRA DISCOUNTS </b> <br> During Sales and discounts , added discount of 10-15% will be
            provided.
            <br> <b>3.FREE DELIVERIES</b> <br> All subscribers will receive free delivery on minimum purchase of ₹200. <br> <b>4.FAST DELIVERY </b> <br> Subscribers are given more priority and will receive fast delivery of products. <br> <b>5.EARN DOUBLE POINTS ON
                EVERY ₹100 PURCHASE </b> <br> Every user earns 1 point on ₹50 purchase while subscribers earns 2 points for the same. <br> <b>6.PRIORITY CUSTOMER SUPPORT </b><br> Customer Support Team Will endeavour to provide you faster response time.</p>
    </div>
    <!-- <div class="Discounts">
            <h2><u>Discount During Renewing Of Subscription</u> </h2>
                    </div> -->
</div>
{% endblock %}