{% extends 'layout.html' %} {% block content %} {% block title %}Store{% endblock %}

<h2 class="store m-5">Store</h2>
{% for item in items %}
<div class="container">

    <!-- concepts section -->


    <!-- First row -->

    <div class="card mb-5 mt-3 inner text-center p-5 shadow row row-cols-2 g-4 " style="width: 18rem;">

        <img src="static/Assets/images/concepts/light.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <h5 class="card-text">₹{{ item.price }}</h5>
        </div>

    </div>

</div>
{% endfor %}{% endblock %}